# Configuración de la aplicación FastAPI
DEBUG=False
HOST=0.0.0.0
PORT=8000

# Información de la API
APP_NAME="Repositorio Desarrollo"
APP_VERSION="0.1.0"

# CORS (Configuración para desarrollo)
CORS_ORIGINS=["http://localhost", "http://localhost:3000", "http://localhost:8000"]

#Crear .env mongobd
DATABASE_URL="mongodb://localhost:27017"
MONGO_DB_NAME="repositorio_db"