# Configuración de la aplicación FastAPI
DEBUG=False
HOST=0.0.0.0
PORT=8000

# Información de la API
APP_NAME="Repositorio Desarrollo"
APP_VERSION="0.1.0"

# CORS (Configuración para desarrollo)
CORS_ORIGINS=["http://localhost", "http://localhost:3000", "http://localhost:8000"]

# Mongo BD
MONGO_DB_NAME="repositorio_db"
DATABASE_URL="mongodb://mongodb_db:27017"

# Límites de archivos PDF
PDF_MAX_SIZE_MB=5

# Nivel de logging (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL="INFO"